{% extends "base.html" %}

{% block head_title %}{{ brandName }}{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="{{ brandName }}" />
  <meta name="twitter:title" content="{{ brandName }}" />

  <meta name="description" content="Join the conversation on {{ brandName }}." />
  <meta name="og:description" content="Join the conversation on {{ brandName }}." />
  <meta name="twitter:description" content="Join the conversation on {{ brandName }}." />

  <meta property="og:url" content="{{ brandHomeURL }}" />
  <meta name="twitter:url" content="{{ brandHomeURL }}" />
  <link rel="canonical" href="{{ brandHomeURL }}" />

  <meta property="og:image" content="{{ brandSocialCardURL }}" />
  <meta property="twitter:image" content="{{ brandSocialCardURL }}"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
